body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    background-image: url(https://wallpapercave.com/wp/wp10695396.jpg);
    background-size: 100% 100%;
    
    font-family: Arial, Helvetica, sans-serif;
    max-height: 100vh;
    overflow: hidden;
    
}

body h1{
    font-size: 8em;
    line-height: 0;
}

header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;

    height: 100vh;
    color: white;
    -webkit-user-select: none;
    -ms-user-select: none; 
    user-select: none;

    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    opacity: 1;
    z-index: 2;
}

header p{
    font-size: 1.5rem;
}

.contenu{
    position: absolute;
    top:0;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    margin: 25px;
    padding: 25px;
    width: 50%;

    border: solid;
    border-color: black;
    border-radius: 1em;
    opacity: 0;
    transition: opacity 1s ease-in-out;

}

.contenu input{
    padding: 2px 7px;
    margin: 10px 0px;

    text-align: center;

    border: solid;
    border-color: black;
    border-radius: 1rem;
}

footer{
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: fixed;

    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1em 0.1em;
    margin: 0;

    background-color: black;
    color: white;
}

.check{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: black;
}

.rep {
    background-color: #e0f7fa;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #0097a7;
    border-radius: 5px;
  }

.co:hover{
    color: aqua;
    -webkit-user-select: none;
    -ms-user-select: none; 
    user-select: none;
}

.hide{
    opacity: 0;
    transform: scale(1.2);
    pointer-events: none;
}

.show{
    opacity: 1;
}

.changeBG{
    background-color: rgb(23 23 23);
}