body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    background-color: rgb(218, 248, 255);
    
    font-family: Arial, Helvetica, sans-serif;
}

body h1{
    font-size: 6em;
}

header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    margin: 10px;
    padding: 25px;
    width: 50%;

    background-color: rgb(0, 112, 163);
    color: white;
    text-align: center;

    border: solid;
    border-color: black;
    border-radius: 1em;
}

header p{
    font-size: 1.5rem;
}

.contenu{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    margin: 25px;
    padding: 25px;
    width: 50%;

    border: solid;
    border-color: black;
    border-radius: 1em;
}

.contenu input{
    padding: 2px 7px;
    margin: 10px 0px;

    text-align: center;

    border: solid;
    border-color: black;
    border-radius: 1rem;
}

footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: fixed;

    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1em 0.1em;
    margin: 0;

    background-color: black;
    color: white;
}
